body {
  background-color: #63CCCA;
  color: #35393C;
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 36px;
  text-align: center;
}

p {
  font-size: 1.5em;
}

nav {
  color: white;
}

.navbar {
  margin-bottom: 0;
  padding-bottom: 2%;
}

.navbar-default {
  background-color: #397367;
  border: none;
  border: none;
}

.navbar-default .navbar-brand {
  color: #35393C;
  font-size: 2em;
  font-family: 'Arial', sans-serif;
}

a.navbar-brand {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.navbar-brand a:hover {
  color: blue;
}

a.nav-link {
  font-size: 1em;
}

.nav.navbar-nav.navbar-right {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.jumbotron {
	margin-top: -2%;
  margin-bottom: 0;
  padding: 5%;
  background-color: #5DA399;
}

.jumbotron h1 {
  color: #35393C;
  font-family: 'Arial', sans-serif;
  line-height: 1.5em;
}

.mkPhoto {
  float: left;
  display: block;
  margin: auto;
  width: 320px;
  border-radius: 100%;
  border: solid 5px #42858C;
}

/*Portfolio Panel */
h2 {
  color: #35393C;
  text-shadow: .3px .3px #000;
}

h2#weekOneLink {
  cursor: pointer;
}

h2#weekOneLink:hover {
    text-decoration: underline;
}

#weekOneProjects {
  display: none;
} 

#weekOneLink a:hover {
  text-decoration: underline;
}
.stuffUsed {
  color: #35393C;
  font-weight: bold;
}
.techDesc {
  color:  #35393C;
  font-style: italic;
}

.panel {
  border: none;
  box-shadow: none;
  padding: 0 5%;
}

.panel p {
  color: #397367;;
}

.panel h3 {
  text-align: left;
}

.panel h3 a {
  color: #35393C;
  text-decoration: none;
}

h3.bg-h3 {
  float: left;
  padding-bottom: 6%;
  color: #35393C;
  font-size: 2.2em;
}

h4.aboutMe {
background-color: #42858C;
}

.backgroundImg {
  float: left;
  padding: 2%;
}


.aboutMe {
  text-align: left;
}

ul {
  padding-left: 1%;
  list-style-type: none;
  font-size: 1.2em;
}

ol {
  padding-left: 3%;
  list-style-type: none;
  font-size: 1.2em;
}


h3 {
  font-size: 14px;
  /* color: black; */
  /* background-color: darkblue; */
  text-align:left;
  position: absolute;
  height: 60px;
  width: 320px;
  padding: 20px;
  top: 190px;
  left: 15px;
}

.projectImg {
  float: left;
  width: 300px;
  height: 350px;
  padding: 15px 15px;
  padding: 3%;
}